<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="pin-login.css">
    <title>Se connecter</title>
</head>


<body>
    <h1>Connectez-vous au chat !</h1>

    <div class="pin-login" id="mainPinLogin">
        <input type="password" readonly class="pin-login__text">
        <div class="pin-login__numpad">
            
        </div>
    </div>


    <script src="pin-login.js"></script>
    <script>

        // On créer un nouvel objet PinLogin
        new PinLogin({

            // El vaut la div mainPinLogin
            el: document.getElementById("mainPinLogin"),

            // On défini le fichier test pour le code
            loginEndPoint: "http://localhost:8080/login",

            // On défini la page de redirection
            redirectTo: "http://localhost:8080/chat",
            
            // On défini le nombre de chiffre maximum utilisable pour le code
            maxNumbers: 4
        });

    </script>
</body>
</html>